---
import Base from "@/layouts/Base.astro";
import Posts from "@/layouts/Posts.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
import { humanize } from "@/lib/utils/textConverter";

export async function getStaticPaths() {
  const categories = await getTaxonomy("posts", "categories");

  return categories.map((category) => {
    return {
      params: { category },
    };
  });
}

const { category } = Astro.params;

const posts = await getSinglePage("posts");
const filterByCategory = taxonomyFilter(posts, "categories", category);
const sortedPosts = sortByDate(filterByCategory);

const title = humanize(category || "");
---

<Base title={title || "Category"}>
  <section class="py-12 md:py-16">
    <div class="container mx-auto px-4 md:px-6 lg:px-8 max-w-[2000px]">
      <div class="mb-8 text-center">
        <p class="text-lg mb-2 text-muted-foreground">Showing Posts From</p>
        <h1 class="text-3xl md:text-4xl font-bold tracking-tight text-primary">{title}</h1>
      </div>
      <Posts posts={sortedPosts} fluid={false} />
    </div>
  </section>
</Base>
